.write {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
 

  /* width: 100%; */
}
body {
  width: 100%;
}




.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 550px;
  border-radius: 10px;
  background-position: center;
  object-fit: cover;
}

.writeForm {
  position: relative;
  width: 100%;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 35px;
  height: 35px;
  font-size: 35px;
    font-weight: 1000;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 3rem;
  left: 4rem;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  width: 70vw;
  height: 100vh;
  font-family: inherit;
  font-size: 20px;
}

.writeSubmit {
  position: absolute;
  top: 45px;
  right: 25px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}


